<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668683233484-is3jf3gcluiou4rrv8b22le58e847hcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668683233484-is3jf3gcluiou4rrv8b22le58e847hcf</string>
	<key>API_KEY</key>
	<string>AIzaSyA-tFIUsyCk_7ElDiFIgPKEe-55UC4Wj6I</string>
	<key>GCM_SENDER_ID</key>
	<string>668683233484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.af.protectiveclothing.protectiveClothing</string>
	<key>PROJECT_ID</key>
	<string>protective-garment</string>
	<key>STORAGE_BUCKET</key>
	<string>protective-garment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668683233484:ios:b24c5ad9c9c1e95dbb7a69</string>
	<key>DATABASE_URL</key>
	<string>https://protective-garment-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>